<a href="https://colab.research.google.com/github/yaretziaguilar/THC/blob/main/10_octubre.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Yaretzi Guadalupe Agular Gómez
#Rocio Pelaez Ventura

In [ ]:
thisdict= {
    "brand": "Ford",
    "model":" Mustang",
    "year":1964,
    "year":2020
}
print(thisdict)

{'brand': 'Ford', 'model': ' Mustang', 'year': 2020}

In [ ]:
diccionario= {"python": 2.7, "zope": 2.13, "plone": 5.7}

l=[]
for i in diccionario.keys():
  l.append(diccionario[i])

print(l)

[2.7, 2.13, 5.7]

In [ ]:
import pandas as pd

#crea un diccionario de datos
datos= {
    "nombre":["juan", "María", "Pedro", "Luisa"],
    "edad": [25, 28, 22, 30],
    "ciudad": ["Madrid", "Barcelona", "Valencia", "Sevilla"]
}

#Crear un DataFrame a partir de un diccionario
dataframe= pd.DataFrame(datos)

#Mostrar en DataFrame
print(dataframe)

  nombre  edad     ciudad
0   juan    25     Madrid
1  María    28  Barcelona
2  Pedro    22   Valencia
3  Luisa    30    Sevilla

In [ ]:
#crear una tupla
mi_tupla= (1, 2, 3, "Hola", True)
print(mi_tupla)

(1, 2, 3, 'Hola', True)

In [ ]:
frutas=("fresa", "manzana","pera", "mango")
for fruta in frutas:
  print(fruta)

fresa
manzana
pera
mango

In [ ]:
frutas=("fresa", "manzana","pera", "mango")
if "manzana" in frutas:
  print("Sí, la manzana está en la tupla.")

Sí, la manzana está en la tupla.

In [ ]:
frutas=("fresa","pera", "mango")
if "manzana" in frutas:
  print("Sí, la manzana está en la tupla.")
else:
  print("No está")

No está

In [ ]:
mi_funcion()
def mi_funcion():
  print("Hola,te saludo desde la funcion")

Hola,te saludo desde la funcion

In [ ]:
def mi_funcion_nueva(fname):
  print("Hola "+fname+" te saludo desde la funcion")
mi_funcion_nueva("roci, yare")

Hola roci, yare te saludo desde la funcion

In [ ]:
def Nombre(fname,iname):
 print("Hola"+fname+""+iname+ " te saludo desde la funcion")
Nombre(" yare"," roci")

Hola yare roci te saludo desde la funcion

In [ ]:
def mi_funcion(*kids):
 print("El niño menor es "+ kids[2])
mi_funcion("david", "miriam", "esteban","angel")

El niño menor es esteban

In [ ]:
def mi_funcion(**chamaco):
  print("El apellido es " + chamaco["Ape"])
mi_funcion(nombre="Aquiles", Ape ="Valentino")

El apellido es Valentino

In [ ]:
A=(5,9)
B=(5,8)
def sum_vec(A,B):
  if len(A)==len(B):
     n=len(A)
     C=n*[0.0]
     for i in range(n):
      C[i]=A[i]+ B[i]
      print(C)
  else:
    print("No es posible")
sum_vec(A,B)

[10, 0.0]
[10, 17]