<a href="https://colab.research.google.com/github/yaretziaguilar/THC/blob/main/3deoctubre.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
fruits= ["apple", "banana", "cherry"]
for x in fruits:
 print(x)
 if x =="banana":
  break

apple
banana

In [9]:
fruits= ["apple", "banana", "cherry"]
for x in fruits:
 if x == "banana":
  continue
 print(x)

apple
cherry

In [13]:
numeros= ["1", "2", "3", "4", "5", "6", "7", "8", "9", "10"]
for x in numeros:
 print(x)

1
2
3
4
5
6
7
8
9
10

In [14]:
for i in range (1,11):
  print(i)

1
2
3
4
5
6
7
8
9
10

In [1]:
i= 1
while i < 11:
  print(i)
  i=i+1

1
2
3
4
5
6
7
8
9
10

In [14]:
for i in range (1,50):
  print((i+(i<1))+1)

2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50

In [15]:
suma=0
for i in range (1,51):
  suma= suma+i
print(suma)

1275

In [16]:
from traitlets.utils.importstring import import_item
suma= 0
i= 1
while i<51:
  suma= suma + i
  i= i+1 #contador
print(suma)

1275

In [24]:
factorial=1 #AquÃ­ se guarda el resultado
for i in range (1,6):
  factorial = i*factorial
print(factorial)

120

In [27]:
factorial=1
n=5
for i in range (1,n+1):
  factorial = i*factorial
print(factorial)

120

In [36]:
for i in range (1,101):
  if (i%2==0):
   print(i)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

In [39]:
frutas=["manzana", "pera" , "naranja", "kiwi"]
for fruta in frutas:
   print(fruta)

manzana
pera
naranja
kiwi

In [43]:
frutas=["manzana", "pera" , "naranja", "kiwi"]
if "guayaba" in frutas:
   print(fruta)
else:
    print("no estÃ¡")

no estÃ¡

In [56]:
calf = ["5", "8", "10", "6", "9", "9", "7"]
 print(calf)

IndentationError: ignored

In [ ]:
suma= 0
numeros=[]